# Run this only on the Elasticsearch server for one-time RDMS provisioning.
ELASTIC_ADMIN_URL=https://es01:9200
ELASTIC_ADMIN_USERNAME=elastic
ELASTIC_ADMIN_PASSWORD=change-this-elastic-admin-password
ELASTIC_ADMIN_CA_CERT=./deploy/elasticsearch/certs/ca.crt

RDMS_ELASTIC_PASSWORD=change-this-rdms-backend-password
ELASTIC_INDEX=rdms_research_objects_v1
ELASTIC_ALIAS=rdms_research_objects
